build/*.Dockerfile
.gitignore
.github
.git
.gitlab-ci.yml
.golangci.yaml
devspace.yaml
LICENSE
Makefile
README.md
hack
generated/openapi
.private
.develop

# not needed in the image obviously
charts

# docs and irrelevant dirs
docs-site
docs
e2e
examples

# ai
.claude
.cline
.clinerules
.cursor
.kilocode
.opencode

# caches
.pnpm-store
.vscode
.mk
.scratch

openspec

# test files not needed to compile binaries
**/*_test.go

# binaries
build/dev
build/e2e
build/try-c9s